# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info/

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Selenium & logs
*.png
geckodriver.log
chromedriver.log

# Executables
*.exe
*.out

